---
import type { GetStaticPaths } from "astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import RootLayout from "../../layouts/RootLayout.astro";
import EnlacesInteres from "../../components/pokemons/EnlacesInteres.astro";

export const getStaticPaths = (async({ paginate }) => {
	const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
	const { results } = await res.json() as PokemonListResponse;
	
	return paginate(results, {pageSize: 20});
}) satisfies GetStaticPaths;


const { page } = Astro.props;
const title = page.currentPage + "-Pokemon Page" ;

---
<RootLayout title={title}>
	<h1 class="font-bold">{title}</h1>
	<hr/>
	<p>Enlaces de interés: </p>
	<EnlacesInteres/>
	<a href="/" class="px-4 py-2 bg-blue-500 text-white no-underline rounded cursor-pointer inline-block">Listado</a>
	<section class="flex px-10 py-4 gap-2 text-sm justify-between items-center">
		<a class:list={["btn", !page.url.prev && 'disabled']}  href={page.url.prev}>Anteriores</a>
		<p class="text-center text-xl"> <span class="text-sky-300">{page.currentPage}</span>  de {page.lastPage}</p>
		<a class:list= {["btn", !page.url.next && 'disabled']}  href={page.url.next}>Siguientes</a>
	</section>
	<section
		aria-label="Pokemon list"
		class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4 p-4"
	>
		{page.data.map((pokemon) => (
			<PokemonCard name={pokemon.name} url={pokemon.url} pokemonId={`${pokemon.name}`} />
		))}
	</section>
	
</RootLayout>

